@tailwind base;
@tailwind components;
@tailwind utilities;

#main{
  height: calc(100vh - 4rem)!important;
}

.svg-secondary {
  filter: brightness(0) saturate(100%) invert(48%) sepia(2%) saturate(190%) hue-rotate(30deg) brightness(101%) contrast(94%) !important;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
}